/* Theme Styles
 *
 * Styles for setting a custom theme for your site
 ===================================================*/

p { font-size: 1.1em }
.home-head {
	background: url('../img/apocalypse-architecture.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.demo-cover-1 { background-image: url('../img/apocalypse-architecture.jpg'); }
.clip-bg-demo1 {
  background-image: url('../img/vacation.jpg');
}
